body {
  padding: 0;
  text-align: center;
}

.game-title {
  width: 50%;
  height: auto;
  padding: 20px;
}

.start-button,
.restart-button {
  width: 13%;
  height: auto;
}
.game-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 540px;
  transform: translate(-50%, -50%);
  background-image: url("../images/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#game-intro,
#game-screen {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 540px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#game-screen {
  display: none;
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.ground {
  background-image: url("../images/ground-image.png");
  width: 960px;
  height: 140px;
  position: absolute;
  top: 400px;
  z-index: +1;
}

.sky {
  background-image: url("../images/Sky-image.png");
  width: 960px;
  height: 400px;
  position: absolute;
  overflow: hidden;
}
